<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1><%= user.username %>'s Recipes</h1>

  <% if (recipes.length > 0) { %>
  <div class="user-recipes">
    <ul>
      <% recipes.forEach(recipe => { %>
      <li>
        <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
      </li>
      <% }) %>
    </ul>
  </div>
  <% } else { %>
  <p><%= user.username %> has not created any recipes yet.</p>
  <% } %>
</body>
