<head><link rel="stylesheet" href="/stylesheets/style.css" /></head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>My Recipes</h1>

  <!-- Add New Recipe Button -->
  <a href="/recipes/new" class="add-recipe-button">Add New Recipe</a>

  <% if (recipes.length > 0) { %>
  <!-- Recipe List -->
  <ul class="recipe-list">
    <% recipes.forEach(recipe => { %>
    <li class="recipe-item">
      <a href="/recipes/<%= recipe._id %>" class="recipe-link">
        <%= recipe.name %> (<%= recipe.ingredients.length %> ingredients)
      </a>
      <form
        action="/recipes/<%= recipe._id %>?_method=DELETE"
        method="POST"
        onsubmit="return confirm('Are you sure you want to delete this recipe?');"
      >
        <button type="submit" class="delete-button">Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <!-- No Recipes Message -->
  <p class="no-recipes-message">
    No recipes yet. <a href="/recipes/new" class="add-recipe-link">Add one</a>!
  </p>
  <% } %>
</body>
