<body>
  <%- include('../partials/_navbar') %>
  <h1>My Recipes</h1>

  <!-- Add New Recipe Button -->
  <a href="/recipes/new" class="btn btn-primary">Add New Recipe</a>

  <% if (recipes.length > 0) { %>
  <ul>
    <% recipes.forEach(recipe => { %>
    <li>
      <a href="/recipes/<%= recipe._id %>">
        <%= recipe.name %> (<%= recipe.ingredients.length %> ingredients)
      </a>
      <form
        action="/recipes/<%= recipe._id %>?_method=DELETE"
        method="POST"
        style="display: inline"
      >
        <button type="submit">Delete</button>
      </form>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>No recipes available. <a href="/recipes/new">Add one</a>!</p>
  <% } %>
</body>
